.table-bordered th {
  text-align: center;
  padding: 0;
  font-size: 0.8em;
  background-color: rgba(0, 0, 0, 0.03);
}
table.table-bordered {
  table-layout: fixed;
  margin: 0;
}
.table-bordered td {
  text-align: center;
  padding: 0;
}
#constrainer {
  height: 100%;
  width: 100%;
}
.scrolltable {
  overflow-x: scroll;
  height: 100%;
}
.scrolltable > .body {
  width: -webkit-fit-content;
  overflow-y: scroll;
}
.scrolltable {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.scrolltable > .header {
  display: flex;
}
td {
  cursor: pointer;
}
